:root {
  --darkest-blue: #0d1b2a;
  --dark-blue: #1b263b;
  --light-blue: #415a77;
  --lightest-blue: #778da9;
  --grey: #e0e1dd;
  --orange: #eb5e28;
  --good-green: #3d9c5a;
  --bad-red: #bf0603;

  --white: white;

  /* --DANGER CRICIS AREA FOR MAP--  */
  --bad-red-opacity: rgba(255, 0, 0, 0.3);
  --yellow: #ffd63a;
  --yellow-opacity: rgba(255, 214, 58, 0.3);
  --light-orange: #ff9b17;
  --light-orange-opacity: rgba(255, 155, 23, 0.3);
}
